<section id="main-content" class="container main_content homepage">
  <h3 id="data-bootcamp">Data Bootcamp</h3>
  <p>A course at NYU’s Stern School of Business</p>
  <p>Spring 2016 schedule</p>
  <ul>
  <li>Undergrad: ECON-UB.0232, Tuesday and Thursday, 2-3:15, KMC 4-90, January 26 to May 10</li>
  <li>MBA: ECON-GB.2313, Wednesday nights, 6-9pm, KMC 4-90, February 8 to May 9</li>
  </ul>
  <p><a href="bootcamp_faq">Course description and sales pitch</a></p>
  <!--
  Discussion groups:  [UG](https://groups.google.com/forum/#!forum/nyu_data_bootcamp_ug) | [MBA](https://groups.google.com/forum/#!forum/nyu_data_bootcamp_mba)
  -->
<p>Quick links: <a href="https://github.com/DaveBackus/Data_Bootcamp/blob/master/Documents/bootcamp_syllabus.pdf">Syllabus</a> | <a href="https://github.com/DaveBackus/Data_Bootcamp/blob/master/Documents/bootcamp_project.pdf">Project Guide</a> | <a href="bootcamp_outline">Outline</a> | <a   href="bootcamp_duedates_mba">MBA Due Dates</a> | <a href="bootcamp_duedates_ug">UG Due Dates</a></p>
  <h4 id="before-the-first-class">Before the first class</h4>
  <ul>
  <li>Make sure you have a <strong>laptop computer</strong> to use in class. This is a must.<br />
  </li>
  <li>Take our <strong>entry poll</strong> (click on the <a href="https://docs.google.com/forms/d/1N7ugrqIQNHm_e1BLVAtaRMnC8SmSiTDMoYBy_0FYZic/viewform">link</a>, follow the   instructions)</li>
  <li>Join a <strong>discussion group:</strong> <a href="https://groups.google.com/forum/#!forum/nyu_data_bootcamp_ug">UG</a> | <a   href="https://groups.google.com/forum/#!forum/nyu_data_bootcamp_mba">MBA</a></li>
  <li><strong>Non-Stern students</strong> only: <a href="https://w3.stern.nyu.edu/start/home">activate your Stern account</a> for wireless access</li>
  </ul>
  <h4 id="contact-information">Contact information</h4>
  <p>Dave Backus: KMC 7-68, db3@nyu.edu, <a href="http://pages.stern.nyu.edu/~dbackus/">directions</a></p>
  <p><strong>MBA section</strong></p>
  <p>Chase Coleman, co-teacher, cc7768@gmail.com<br />
  Itamar Snir, teaching fellow, is1413@stern.nyu.edu</p>
  <p><strong>UG section</strong></p>
  <p>Spencer Lyon, co-teacher, sgl290@nyu.edu<br />
  teaching fellow, tba</p>
  <h4 id="course-materials">Course materials</h4>
  <p>In addition to the quick links at the top, keep in mind:</p>
  <ul>
  <li>Our <a href="https://www.gitbook.com/book/davebackus/test/details">book</a> (work in progress)</li>
  <li>Our <a href="https://github.com/DaveBackus/Data_Bootcamp#data-bootcamp">repository</a> (complete collection of documents and materials)</li>
  <li>Search: nyu data bootcamp</li>
  </ul>
</section>
